/************************************************************************************************/
/* THE BODY WRAPPER                                                                          */
/************************************************************************************************/

.node-answers-wrapper {
  background: #fff;
  margin-bottom: 1px;
  margin-left: -($u);
  margin-right: -($u);
  padding: 0 $u;
  
}

.answers-body-wrapper {
  clear: both;  
}


/************************************************************************************************/
/* THE QUESTION                                                                                 */
/************************************************************************************************/

.node-answers-question .content {
  min-height: $u;
}


/************************************************************************************************/
/* THE WIDGETS WRAPPER                                                                          */
/************************************************************************************************/

.answers-widgets-wrapper,
.node-answers-answer .rate-widget-number_up_down,
.node-answers-question .rate-widget-number_up_down{
  float: none;
}
.node-answers-answer .answers-widgets-wrapper {
  @include clearfix;
  margin-top: 0;
  width: auto;
  .flag-best-answer,
  .marked-best-answer {
    display: block;
    float: right;
    width: $u*2.5;
  }
  .marked-best-answer,
  .flag {
    @extend .icon;
    background-image: url('../images/icons/checkmark2.svg');
  }
  .flag:hover,
  .flag:active,
  .marked-best-answer,
  .unflag-action {
    background-image: url('../images/icons/checkmark.svg');
  }
  .unflag-action:hover,
  .unflag-action:active {
    background-image: url('../images/icons/checkmark2.svg');
  }
}

.node-answers-wrapper .rate-widget {
  float: left;
  display: block;
  width: auto;
  margin: 0;
  .rate-button {
    @extend .icon;
    background-image: url('../images/icons/circle-up.svg');
    background-size: auto 50%;
    float: left;
  }
  .rate-button:hover,
  .rate-button:active {
    background-size: auto 66%;
  }
  .rate-number-up-down-rating {
    float: left;
    display: block;
    color: lighten($basegrey, 40%);
    font-size: $u;
    line-height: 1.2;
    padding: $u/1.5 0;
  }
  .rate-number-up-down-btn-up:hover {
    background-position: center center;
  }
  .rate-voted {
    opacity: 0.3;
  }
}


/************************************************************************************************/
/* THE SUBMITTED BLOCK                                                                          */
/************************************************************************************************/

.answers-submitted {
  background: lighten($basegrey, 60%);
  float: none;
  width: auto;
  margin-bottom: $u/2;
  .user-picture {
    float: left;
    width: $u*2.5;
    margin-right: $u/2;
    a {
      display: block;
    }
    img {
      width: 100%;
      height: auto;
      background: transparent;
    }
  }
  .author-name {
    padding: $u/3 0;
  }
  .author-points {
    margin: 0;
  }
}

.submitted-time {
  display: block;
  padding-bottom: $u/2;
}


/************************************************************************************************/
/* TOOLBAR                                                                                     */
/************************************************************************************************/

.answers-body-toolbar ul.links li,
.answers-body-toolbar ul.links li:hover {
  color: inherit;
}
.answers-body-toolbar ul.links li {
  cursor: auto;
  text-align: right;
}
.link-wrapper {
  @include clearfix;
}

/************************************************************************************************/
/* COMMENTS                                                                                     */
/************************************************************************************************/

.answers-body-wrapper {
  .comment-wrapper {
    background: lighten($basegrey, 60%);
    margin-left: $u;
    margin-right: -($u);
    border: none;
    padding: 0;
    .answers-comments-title {
      display: block;
      text-transform: uppercase;
      font-size: $u*0.7;
      color: lighten($basegrey, 20%);
      background: #fff;
      padding: 0 0 $u/2;
      font-weight: normal;
    }
    .comment-form {
      padding: 1px $u 0; 
    }
  }
  .comment {
    border-top: solid 1px #fff;
    padding: $u;
  }
  .comment_forbidden {
    
  }
}
.author-role_debatraadgiver .answers-submitted {
  background-color: lighten($accent, 20%);
}
.author-is-current .answers-submitted {
  background-color: lighten($basecolor, 50%);
}

/************************************************************************************************/
/* BUTTONS                                                                                      */
/************************************************************************************************/

.answers-btn-primary,
.node-answers-wrapper input.form-submit {
  @extend .btn;
  float: none;
}

.answers-body-toolbar {
  ul.links {
    display: block;
    height: auto;
    float: right;
    margin: 0;
    height: auto;
    li {
      display: inline-block;
      height: auto;
      padding: 0;
    }
  }
}

.answers-answer-edit a,
.answers-answer-delete a,
.answers-comment-button a,
.answers-form-filter-help a {
  @extend .icon;
  background-position: $u center;
  padding: $u/2 $u $u/2 $u*2.5;
  text-indent: 0;
  width: auto;
  height: auto;
  background-size: auto $u*1.25;
  color: $basecolor;
}
.answers-answer-edit a {
  background-image: url('../images/icons/pencil.svg');
}
.answers-answer-delete a {
  background-image: url('../images/icons/bin.svg');
}
.answers-comment-button a {
  background-image: url('../images/icons/bubble2.svg');
}
.answers-form-filter-help a {
  background-image: url('../images/icons/question.svg');
}
.answers-answer-edit:before,
.answers-answer-delete:before,
.answers-comment-button:before,
.answers-form-filter-help:before {
  content: '' !important;
  height: 0;
  line-height: 0;
  margin: 0 !important;
}
.answers-form-filter-help {
  display: block;
  height: auto;
}
.node-readmore a,
.comment-comments a,
.comment-new-comments a {
  display: block;
  padding: $u/2;
}

/************************************************************************************************/
/* ANSWERS HEADING                                                                              */
/************************************************************************************************/


/************************************************************************************************/
/* ANSWERS                                                                                      */
/************************************************************************************************/

.node-answers-wrapper .view-question-answers .view-header {
  font-size: $u;
  padding: $u/2 $u;
  background: transparent;
  margin: 0;
  color: #fff;
  background: $basegrey;
  margin-right: -($u);
  margin-left: -($u);
}

.node-answers-answer {
  border: none;
  border-bottom: dashed 1px lighten($basegrey, 40%);
  .field-name-body .field-items .field-item p {
    display: block;
  }
}

.answers-body {
  .field-name-field-category {
    float: left;
    width: 50%;
    .field-label {
      @include element-invisible;
    }
    .field-item {
      display: inline-block;
      a {
        padding: $u/3 $u/2;
        font-size: $u/1.5;
        border-radius: $u/2;
        background-color: $basegrey;
        color: #fff;
      }
    }
  }
  .content .field {
    padding: 0;
  }
}

.answers-body-toolbar {
  margin: 0;
  height: auto;
  .links li {
    background: lighten($basegrey, 60%);
    padding: $u/2;
    display: block;
  }
}


/************************************************************************************************/
/* NEW ANSWERS FORM                                                                             */
/************************************************************************************************/

.node-answers-wrapper {
  .node-answers_answer-form {
    margin: 0;
    border: none;
  }
}

.text-format-wrapper {
  margin-bottom: $u/2;
}


/************************************************************************************************/
/* NOTIFICATIONS                                                                                */
/************************************************************************************************/

.achievement-notification-dialog {
  max-width: 100%;
}
.achievement-notification .achievement-points-box,
.achievement-notification,
.achievement-notification-dialog {
  border: none;
  margin: 0;
  text-align: center;
  height: auto;
  width: auto;
  border-radius: 0;
}
.achievement-notification-dialog .achievement-notification {
  background: $accent;
  color: #fff;
  max-width: 100%;
  height: auto !important;
  padding: 0;
  .achievement-image {
    @extend .icon;
    background-image: url('../images/icons/trophy.svg');
    background-color: #fff;
    width: $u*3;
    height: $u*3;
    margin: $u;
    float: left;
  }
  .achievement-points-box {
    display: none;
  }
  .achievement-body {
    margin: 0;
    padding: $u;
  }
}


/************************************************************************************************/
/* ACHIEVEMENT                                                                                  */
/************************************************************************************************/

.achievement-image {
  width: $u*4 !important;
  height: $u*4;
  margin: $u/2 $u;
  a,
  img {
    display: block;
    width: auto;
    height: 100%;
  }
}
