/************************************************************************************************/
/* THE BODY WRAPPER                                                                          */
/************************************************************************************************/


/************************************************************************************************/
/* THE QUESTION                                                                                 */
/************************************************************************************************/

.node-answers-question .content {
  min-height: $u;
  background: #fff;
  padding: $u;
}

@media all and (max-width: 480px) {
  
  .node-answers-question .content {
    margin-left: -($u);
    margin-right: -($u);
  }
  
}

.answers-body {
  @include zen-grid-container;
  .field-name-field-category,
  .answers-submitted,
  .submitted-time {
    @include zen-grid-item-base();
  }
  .field-name-field-category {
    @include zen-grid-item(2, 1);
  }
  .answers-submitted {
    @include zen-grid-item(2, 3);
  }
  .submitted-time {
    @include zen-grid-item(2, 1);
  }
}


/************************************************************************************************/
/* THE WIDGETS WRAPPER                                                                          */
/************************************************************************************************/

/************************************************************************************************/
/* THE SUBMITTED BLOCK                                                                          */
/************************************************************************************************/

/************************************************************************************************/
/* TOOLBAR                                                                                     */
/************************************************************************************************/

/************************************************************************************************/
/* COMMENTS                                                                                     */
/************************************************************************************************/

/************************************************************************************************/
/* BUTTONS                                                                                      */
/************************************************************************************************/

/************************************************************************************************/
/* ANSWERS HEADING                                                                              */
/************************************************************************************************/

/************************************************************************************************/
/* ANSWERS                                                                                      */
/************************************************************************************************/

/************************************************************************************************/
/* NEW ANSWERS FORM                                                                             */
/************************************************************************************************/
