/************************************************************************************************/
/* THE BODY WRAPPER                                                                          */
/************************************************************************************************/


/************************************************************************************************/
/* THE QUESTION                                                                                 */
/************************************************************************************************/

.node-answers-question .content {
  min-height: 1em;
  background: #fff;
  padding: 0.5em;
}
/*
.node-answers-question .content .field {
  padding: 0.5em;  
}

.node-answers-wrapper .submitted-time,
.node-answers-wrapper .views
 {
  font-size: 8pt;
  color: #909090;
}
*/
/************************************************************************************************/
/* THE WIDGETS WRAPPER                                                                          */
/************************************************************************************************/
/*
.answers-widgets-wrapper {
  float: left;
  width: 20%;
}

.answers-widgets-wrapper .mystery-hack {
  width: 180px;
  height: 0px; 
  font-size: 0px;
  display: inline-block; 
}
*/
/************************************************************************************************/
/* THE SUBMITTED BLOCK                                                                          */
/************************************************************************************************/
/*
.answers-submitted {
  background: #ddd;
  width: 50%;
  float: right;
  overflow:hidden
}

.answers-submitted .author-name {
  font-weight: bold;
  padding: 0.5em;
}

.answers-submitted .user-picture {
  float: left;
}

.answers-submitted .user-picture img {
  height: 3em;
  width: 3em;
  margin-right: 0.5em;
  background: #fff;
}	

.answers-submitted .author-details {
  font-size: 8pt !important;
  padding: 0 0 0 0.5em;
}

.answers-submitted .author-details p {
  line-height: 1.0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
 }

*/
/************************************************************************************************/
/* TOOLBAR                                                                                     */
/************************************************************************************************/
/*
.answers-body-toolbar {
  margin-top: 10px;
  margin-left: 0;
  display: block;
  height: 20px;
}

.answers-body-toolbar ul.links {
  padding-left: 0;
  list-style-type: none;
  font-size: 1.8em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.answers-body-toolbar ul.links li {
  display: inline-block;
  position: absolute;
  text-align: center;
  cursor: pointer;
  height: 18px;
  font-size: 8pt;
  color: #0071B3;
  float: right;
  vertical-align: middle;
}

.answers-body-toolbar ul.links > li {
  position: relative;
}

.answers-body-toolbar ul.links li:hover,
.answers-body-toolbar ul.links li a:hover 
{
  color: #FF9B20;
}

.answers-body-toolbar ul.links li:before {
  font: normal normal normal 14px/1 AnswersFontAwesome;
  margin: 0 0.5em;
}

.answers-body-toolbar ul.links .answers-answer-delete:before   { content: "\f014"; }
.answers-body-toolbar ul.links .answers-comment-button:before { content: "\f075"; }
.answers-body-toolbar ul.links .answers-answer-edit:before      { content: "\f040";}
.answers-body-toolbar ul.links .flag-subscribe_answers_notifications:before { content: "\f024"; }
*/
/************************************************************************************************/
/* COMMENTS                                                                                     */
/************************************************************************************************/
/*
.answers-body-wrapper .comment-wrapper {
  background-color: transparent;
  border-left: solid 0.5em #ddd;
  padding: 0.5em 0 0.5em 0.5em;
}

.answers-comment-body-wrapper  {
  display: block;
  width: 100%;
}

.answers-body-wrapper .comment-wrapper .answers-comments-title, 
.answers-body-wrapper .comment-wrapper .answers-comments-form-title,
.answers-body-wrapper .comment-wrapper .comment-form 
{
  display: none;
}

.answers-body-wrapper span.answers.comment-text, 
.answers-body-wrapper span.answers.comment-text div.field-name-comment-body,
.answers-body-wrapper span.answers.comment-text div.field-name-comment-body div.field-items,
.answers-body-wrapper .answers.comment-text .field-name-comment-body .field-items .field-item {
  display: inline;
}

.answers-comment-text,
.answers-comment-text .field-name-comment-body,
.answers-comment-text .field-name-comment-body .field-items,
.answers-comment-text .field-name-comment-body .field-items .field-item
{
  display: inline;
}

.answers-comment-body-wrapper .commenter-name .username,
.answers-comment-body-wrapper .comment-time 
{
  font-size: 8pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.answers-comment-body-wrapper .commenter-name .username {
  font-weight: bold;
}

.answers-comment-body-wrapper .comment-time  {
  color: #909090;
}

.answers-comment-widgets-wrapper {
  float: left;
  visibility: hidden;
}

.answersComments .comment:hover .answers-comment-widgets-wrapper {
  visibility: visible;
}

.answers-comment-widgets-wrapper .comment-links ul.links {
  padding-left: 0;
  list-style-type: none;
  font-size: 1.8em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.answers-comment-widgets-wrapper .comment-links ul.links li {
  display: block;
  cursor: pointer;
  width: 15px;
  height: 20px;
  overflow: hidden;
  font-size: 8pt;
  color: #0071B3;
}

.answers-comment-widgets-wrapper .comment-links ul.links > li {
  position: relative;
}

.answers-comment-widgets-wrapper ul.links li:before {
  font: normal normal normal 14px/1 AnswersFontAwesome;
  margin: 0 0.5em;
}

.answers-comment-widgets-wrapper ul.links li:hover {
  color: #FF9B20;
}

.answers-comment-widgets-wrapper ul.links .comment-delete:before   { content: "\f014"; }
.answers-comment-widgets-wrapper ul.links .comment-edit:before   { content: "\f040"; }
.answers-comment-widgets-wrapper ul.links .comment-reply:before   { content: "\f075"; }

.answers-comment-widgets-wrapper .comment-links ul.links li a {
  color: transparent;
}
*/
/************************************************************************************************/
/* BUTTONS                                                                                      */
/************************************************************************************************/
/*
.answers-btn-primary, 
.node-answers-wrapper input.form-submit
{
  display: inline-block;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #CC9900;
  background: #FFCC33;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.35;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 3px 20px 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.answers-btn-primary:hover,
.node-answers-wrapper input.form-submit:hover
{
  text-decoration: none;
  background: #FFFF33;
}

.node-answers-wrapper .comment-form .form-actions {
  padding-bottom: 5px;
}

.node-answers-wrapper .comment-form .form-type-item {
  display: none;
}
*/
/************************************************************************************************/
/* ANSWERS HEADING                                                                              */
/************************************************************************************************/
/*
.answers-list .view-question-answers .view-header {
  background: #ccc;
  padding: 0.5em;
}
*/
/************************************************************************************************/
/* ANSWERS                                                                                      */
/************************************************************************************************/
/*
.node-answers-answer {
  border-top: solid 1px #ddd;
  padding-bottom: 0.5em;
}

.answers-body .content .field {
  padding: 0.5em;
  display: block;
}

.node-answers-answer  div.field-name-body,
.node-answers-answer  div.field-name-body div.field-items,
.node-answers-answer  .field-name-body .field-items .field-item,
.node-answers-answer  .field-name-body .field-items .field-item  p 
{
  display: inline;
}

.node-answers-answer .answers-widgets-wrapper {
  margin-top: 15px;
}

.views-row-first .node-answers-answer .answers-widgets-wrapper {
  margin-top: 5px;
}
*/

/************************************************************************************************/
/* NEW ANSWERS FORM                                                                             */
/************************************************************************************************/

/*
.node-answers-wrapper .node-answers_answer-form  {
  margin-left: 235px;
  border-top: 2px dotted #DDDDDD;
}
 
.node-answers-wrapper .node-answers_answer-form .field-name-body textarea,
.node-answers-wrapper .node-answers-answer .field-name-comment-body textarea
{
  font-size: 11px;
}
 
.node-answers-wrapper .new-answer-form-title {
  display: none;
}

.node-answers-wrapper .node-answers_answer-form .field-name-body label {
   margin-top: 10px;
   font-size: 16px;
}

.node-answers-wrapper .node-answers_answer-form .field-name-body .filter-wrapper,
.node-answers-wrapper .node-answers-answer .field-name-comment-body .filter-wrapper,
.node-answers-wrapper .node-answers-question .field-name-comment-body .filter-wrapper
{
  display: none;
}

.answersComments .comment-form .field-name-comment-body label {
  width: inherit;
}

.answers-form-filter-help {
  display: block;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  height: 18px;
  font-size: 8pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 18px;
  cursor: pointer;
  float: right;
  vertical-align: middle;
  color: #0071B3;
}

.answers-form-filter-help:hover,
.answers-form-filter-help a:hover
{
  color: #FF9B20;
}

.answers-form-filter-help:before {
  font: normal normal normal 14px/1 AnswersFontAwesome;
  font-size: 1.5em;
  margin: 0 0.5em;
  content: "\f059";
}
*/