.node-blog {

  .submitted {
    .user-picture {
      float:left;
      width: $u*2.5;
    }
  }

  border-bottom: 1px solid #b5b5b5;
  margin-bottom: 10px;
  padding-bottom: 10px;

  &:last-child {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .links {
    .comment-comments,
    .comment-new-comments,
    .comment-add {
      display: none;
    }
  }
}

.region.sidebar {

  .more-link {
    font-weight: bold;
  }
}

.block-blog {
  .item-list {
    .user-picture {
      float:left;
      width: $u*2.5;
    }
  }
}