.node-blog {

  .submitted {
    .user-picture {
      display: inline-block;
      width: $u*2.5;
      vertical-align: middle;
    }
  }

  h2 {
    padding-top: 0;
  }

  border-bottom: 1px solid #b5b5b5;
  margin-bottom: 20px;
  padding-bottom: 10px;

  &:last-child {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .links {
    .comment-comments,
    .comment-new-comments,
    .comment-add {
      display: none;
    }
  }

  #comments {
    margin-top: 25px;
  }

  h2.comment-form {
    margin-top: 25px;
  }
}

.region.sidebar {

  .more-link {
    font-weight: bold;
  }
}

.block-blog {
  .item-list {
    ul {
      padding: 0;
      li {
        list-style-type: none;
        .user-picture {
          display: inline-block;
          width: 18%;
          img {
            border-radius: 50%;
          }
        }
        > a {
          display: inline-block;
          width: 80%;
        }
      }
    }
  }
}