
/**
 * Branding header.
 */

.header {
  background: lighten($basegrey, 60%);
  box-shadow: ($u/4) 0 $u $u/4 rgba(0,0,0,0.2);
}

/* Wrapping link for logo. */
.header__logo {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

/* Logo image. */
.header__logo-image {
  vertical-align: bottom;
  width: 3em;
  height: auto;
  padding-right: 1em;
}

/* Wrapper for website name and slogan. */
.header__name-and-slogan {
  float: left;
}

/* The name of the website. */
.header__site-name {
  margin: 0;
}

/* The link around the name of the website. */
.header__site-link {
  &:link,
  &:visited {
    
  }

  &:hover,
  &:focus {
    
  }
}

/* The slogan (or tagline) of a website. */
.header__site-slogan {
  margin: 0;
}

/* The secondary menu (login, etc.) */
.header__secondary-menu {
  float: right; /* LTR */
}

/* Wrapper for any blocks placed in the header region. */
.header__region {
  /* Clear the logo. */
  clear: both;
}

#header {

  h1.title {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }

  .header__region {
    clear: none;
    display: inline-block;
    float: right;
  }

  #block-search-form {
    display: inline-block;
    .search-full {
      display: block;
    }
  }

  @media all and (max-width: 480px) {
    #block-search-form {
      &:not(.forceShow) {
        .search-full {
          display: none;
        }
        .search-toggle {
          display: block;
        }
      }
    }
  }

  #block-myassist-questions-answers-newquestion {
    display: inline-block;
    vertical-align: top;
  }
}

.myassist-button {
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.search-toggle {
  display: none;
  background-image: url('../images/search.png');
}

.add-question {
  background-image: url('../images/plus.png');
}
