
/**
 * Branding header.
 */

/* Wrapping link for logo. */
.header__logo {
  float: left; /* LTR */
  padding: 0;
}

/* Logo image. */
.header__logo-image {
  vertical-align: bottom;
  height: 100%;
  width: auto;
}

/* Wrapper for website name and slogan. */
.header__name-and-slogan {
  float: left;
}

/* The name of the website. */
.header__site-name {
  margin: 0;
}

/* The link around the name of the website. */
.header__site-link {
  &:link,
  &:visited {
    
  }

  &:hover,
  &:focus {
    
  }
}

/* The slogan (or tagline) of a website. */
.header__site-slogan {
  margin: 0;
}

/* The secondary menu (login, etc.) */
.header__secondary-menu {
  float: right; /* LTR */
}

/* Wrapper for any blocks placed in the header region. */
#header {
  h1.title {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
  #block-myassist-questions-answers-newquestion {
    display: inline-block;
    vertical-align: top;
  }
}

/* User menu and search */
#block-search-form,
#block-system-user-menu {
  margin: $u/2 0;
  height: $u*2;
  width: $u*2.5;
  .block-title {
    @extend .icons;
    background-image: url(../images/icons/arrow-down.png);
    padding: 0;
    margin: 0;
    background-size: $u auto;
    height: $u*2;
  }
}
#block-system-user-menu {
  .block-title {
    background-size: $u*0.75 auto;
  }
  .menu {
    display: none;
    position: absolute;
    top: $u*2.5;
    right: 0;
    background: $blue;
    width: $u*10;
    z-index: 6;
  }
}
#block-system-user-menu.open {
  .block-title {
    background-image: url(../images/icons/arrow-up.png);
  }
  .menu {
    display: block;
  }
}
#block-search-form {
  position: relative;
  overflow: visible;
  border-left: solid 1px $white;
  .block-title {
    background-image: url(../images/icons/search.png);
    cursor: pointer;
  }
  .block-title:hover,
  .block-title:active,
  .block-title:focus {
    background-color: darken($blue, 10%);
  }
  #search-block-form {
    display: block;
    position: fixed;
    text-align: center;
    right: 0;
    left: 0;
    top: -($u*6);
    z-index: 100;
    background: $grey;
    padding: $u;
    box-shadow: $u*0.5 0 $u $u*0.5 rgba(0,0,0,0.2);
    .form-item,
    .form-actions {
      display: inline-block;
      text-align: left;
    }
    .form-item {
      width: $u*12.5;
      margin: $u/2 0;
      input {
        width: $u*12.5;
        padding: $u/2;
      }
    }
    .form-actions {
      input {
        height: $u*2.5;
        margin: 0;
      }
      
    }
  }
}
#block-search-form.open #search-block-form {
  top: $u*3;
}

#block-myassist-user-avatar {
  padding: 0;
  width: $u*2;
  height: $u*2;
  margin: $u/2 0;
  .user-picture,
  .user-picture a {
    display: block;
    line-height: 0;
    height: $u*2;
    overflow: hidden;
    img {
      height: auto;
      width: 100%;
      border-radius: $u*2;
      background: #fff;
    }
  }
}

#block-myassist-achievements-userpoints {
  width: $u*2;
  overflow: hidden;
  background-color: darken($blue, 10%);
  text-align: center;
  position: absolute;
  top: $u*2.5;
  right: $u*5;
  .userpoints a {
    font-size: $u*0.6;
    padding: $u/4;
    display: block;
  }
}