
/**
 * Branding header.
 */

/* Wrapping link for logo. */
.header__logo {
  float: left; /* LTR */
  padding: 0;
}

/* Logo image. */
.header__logo-image {
  vertical-align: bottom;
  height: 100%;
  width: auto;
}

/* Wrapper for website name and slogan. */
.header__name-and-slogan {
  float: left;
}

/* The name of the website. */
.header__site-name {
  margin: 0;
}

/* The link around the name of the website. */
.header__site-link {
  &:link,
  &:visited {
    
  }

  &:hover,
  &:focus {
    
  }
}

/* The slogan (or tagline) of a website. */
.header__site-slogan {
  margin: 0;
}

/* The secondary menu (login, etc.) */
.header__secondary-menu {
  float: right; /* LTR */
}

/* Wrapper for any blocks placed in the header region. */
#header {
  h1.title {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
  #block-myassist-questions-answers-newquestion {
    display: inline-block;
    vertical-align: top;
  }
}

/* User menu and search */
#block-search-form,
#block-system-user-menu {
  margin: 0;
  width: $u*2.5;
  .block-title {
    @extend .icons;
    background-image: url(../images/icons/arrow-down.png);
    padding: 0;
    margin: 0;
    background-size: $u auto;
  }
}
#block-system-user-menu {
  .menu {
    display: none;
    position: absolute;
    top: $u*2.5;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background: $blue;
    width: $u*10;
  }
  .menu__item {
    border-top: dashed 1px $smoke;
  }
  .menu__item:first-child {
    border: none;
  }
  .menu__link {
    display: block;
    padding: $u/2 $u;
  }
}
#block-system-user-menu.open {
  .block-title {
    background-image: url(../images/icons/arrow-up.png);
  }
  .menu {
    display: block;
  }
}
#block-search-form {
  position: relative;
  overflow: visible;
  .block-title {
    background-image: url(../images/icons/search.png);
  }
  #search-block-form {
    display: none;
  }
}
#block-search-form.open {
  #search-block-form {
    display: block;
    position: fixed;
    text-align: center;
    right: 0;
    left: 0;
    top: $u*3;
    z-index: 10;
    background: $grey;
    padding: $u/2;
    .form-item,
    .form-actions {
      display: inline-block;
      text-align: left;
    }
    .form-item {
      width: $u*12.5;
      margin: $u/2 0;
      input {
        width: $u*12.5;
        padding: $u/2;
      }
    }
    .form-actions {
      input {
        height: $u*2.5;
        margin: 0;
      }
      
    }
  }
}

#block-myassist-user-avatar {
  padding: 0;
  width: $u*2.5;
  height: $u*2.5;
  margin: 0;
  .user-picture,
  .user-picture a {
    display: block;
    line-height: 0;
    height: $u*2.5;
    overflow: hidden;
    img {
      height: auto;
      width: 100%;
      border-radius: $u*2;
      background: #fff;
    }
  }
}

#block-myassist-achievements-userpoints {
  width: $u*2.5;
  overflow: hidden;
  background-color: darken($blue, 10%);
  margin: $u/2;
  text-align: center;
  .userpoints a {
    font-size: $u*0.8;
    padding: $u/4 0;
    display: block;
  }
}