
/**
 * Branding header.
 */

.header {
  background: lighten($basegrey, 60%);
  box-shadow: ($u/4) 0 $u $u/4 rgba(0,0,0,0.2);
}

/* Wrapping link for logo. */
.header__logo {
  float: left; /* LTR */
  padding: 0;
}

/* Logo image. */
.header__logo-image {
  vertical-align: bottom;
  height: 100%;
  width: auto;
}

/* Wrapper for website name and slogan. */
.header__name-and-slogan {
  float: left;
}

/* The name of the website. */
.header__site-name {
  margin: 0;
}

/* The link around the name of the website. */
.header__site-link {
  &:link,
  &:visited {
    
  }

  &:hover,
  &:focus {
    
  }
}

/* The slogan (or tagline) of a website. */
.header__site-slogan {
  margin: 0;
}

/* The secondary menu (login, etc.) */
.header__secondary-menu {
  float: right; /* LTR */
}

/* Wrapper for any blocks placed in the header region. */
#header {
  h1.title {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
  #block-search-form {
    display: inline-block;
    .search-full {
      display: block;
    }
  }
  @media all and (max-width: 480px) {
    #block-search-form {
      &:not(.forceShow) {
        .search-full {
          display: none;
        }
        .search-toggle {
          display: block;
        }
      }
    }
  }
  #block-myassist-questions-answers-newquestion {
    display: inline-block;
    vertical-align: top;
  }
}
.header__region {
  position: absolute;
  right: 0;
  top: 0;
  .block {
    float: right;
  }
}

/* User menu */
#block-system-user-menu {
  margin: 0;
  width: $u*2.5;
  .block-title {
    @extend .icons;
    background-image: url(../images/icons/circle-down.svg);
    padding: 0;
    margin: 0;
    background-size: $u auto;
  }
  .menu {
    display: none;
    position: absolute;
    top: $u*2.5;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background: lighten($basegrey, 50%);
    width: $u*10;
  }
  .menu__item {
    border-top: dashed 1px $basegrey;
  }
  .menu__item:first-child {
    border: none;
  }
  .menu__link {
    display: block;
    padding: $u/2 $u;
  }
}
#block-system-user-menu.open {
  .block-title {
    background-image: url(../images/icons/circle-up.svg);
  }
  .menu {
    display: block;
  }
}


.search-toggle {
  background-image: url('../images/search.png');
}

#block-myassist-user-avatar {
  padding: 0;
  width: $u*2.5;
  height: $u*2.5;
  background: #fff;
  .user-picture,
  .user-picture a {
    display: block;
    line-height: 0;
    height: $u*2.5;
    overflow: hidden;
    img {
      height: auto;
      width: 100%;
    }
  }
}

#block-myassist-achievements-userpoints {
  position: absolute;
  top: $u*2.5;
  right: 0;
  width: $u*2.5;
  overflow: hidden;
  background-color: lighten($accent, 10%);
  margin: 0;
  text-align: center;
  .userpoints {
    font-size: $u*0.8;
    padding: $u/4 0;
  }
}