/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */



/**
 * Wireframes.
 */

.with-wireframes {
  #header,
  #main,
  #content,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .region-bottom {
    outline: 1px solid #ccc;
  }
}



/**
 * Accessibility features.
 */

/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-invisible,
%element-invisible {
  @include element-invisible;
}

/* Turns off the element-invisible effect. */
%element-invisible-off {
  @include element-invisible-off;
}

.element-focusable,
%element-focusable {
  @extend %element-invisible;

  &:active,
  &:focus {
    @extend %element-invisible-off;
  }
}



/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}


/**
 * Icon styles
 * Use @extend .icon to use where ever
 */
.icons {
  display: block;
  width: $u*2.5;
  height: $u*2.5;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 66.66%;
  text-indent: -1000em;
  text-align: center;
  font-size: $u;
  line-height: 1;
}

/**
 * Content
 */
#page {
  background: $white;
  color: $darkblue;
}
#content {
  padding-top: $u;
}


/**
 * Navigation
 */

.header,
.region-navigation,
.bottom__container {
  background-color: $blue;
  color: lighten($smoke, 20%);
  a:link,
  a:visited {
    color: $white;
  }
  a:hover,
  a:focus {
    background-color: darken($blue, 10%);
  }
  a:active {
    background-color: darken($blue, 20%);
  }
}

#block-system-main-menu {
  h2 {
    @include element-invisible;
  }
  .menu__item {
    display: block;
    float: left;
    text-align: center;
  }
  .menu__link {
    @extend .icons;
    @extend .navlinks;
    border: none !important;
    text-indent: 0;
    text-align: center;
    width: auto;
    height: auto;
    background-position: center $u/1.5;
    background-size: $u*2 auto;
    padding: $u*3 $u $u;
    overflow: hidden;
    font-size: $u*0.8;
  }
  .menu__link[href="/da/frontpage"] {
    background-image: url(../images/icons/question.png);
  }
  .menu__link[href="/da/user/view"] {
    background-image: url(../images/icons/profil.svg);
  }
  .menu__link[href="/da/chat"] {
    background-image: url(../images/icons/chat.svg);
  }
  .active {
    background-color: $darkblue;
    color: $white;
  }
}


/**
 * Page title
 */

.page__title {
  margin-top: 0;
  padding-top: 0;
}


/**
 * Messages.
 */

.messages {
  margin: $u 0;
  padding: 10px 10px 10px 50px; /* LTR */
  background-image: inline-image("message-24-ok.png");
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid #be7;
}
.messages--status {
  @extend .messages;
  @extend %ok;
}
.messages--warning {
  @extend .messages;
  @extend %warning;
  background-image: inline-image("message-24-warning.png");
  border-color: #ed5;
}
.messages--error {
  @extend .messages;
  @extend %error;
  background-image: inline-image("message-24-error.png");
  border-color: #ed541d;

}
.messages__list {
  margin: 0;
}
.messages__item {
  list-style-image: none;
}

/* Core/module installation error messages. */
.messages--error  p.error {
  color: #333;
}

/* System status report. */
.ok,
%ok {
  background-color: #f8fff0 !important;
  color: #234600;
}
.warning,
%warning {
  background-color: #fffce5 !important;
  color: #840;
}
.error,
%error {
  background-color: #fef5f1 !important;
  color: #8c2e0b;
}


/**
 * Tabs.
 */

.tabs {
  list-style: none;
  border-bottom: 1px solid $grey;
  white-space: nowrap;
  margin-bottom: $u;
  li {
    width: auto;
    display: inline-block;
    margin: 0 $u*0.25 -1px 0;
  }
  a {
    @extend .btn;
    display: inline-block;
    width: auto;
    border: solid 1px $grey !important;
    margin: 0 !important;
    border-radius: $u*0.25 $u*0.25 0 0 !important;
  }
  a.is-active {
    background-color: $white;
    color: $blue;
    border-bottom-color: $white !important;
  }
}


/**
 * Inline styles.
 */

/* List of links generated by theme_links(). */
.inline {
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}

/* The inline field label used by the Fences module. */
span.field-label {
  padding: 0 1em 0 0; /* LTR */
}


/**
 * "More" links.
 */

.more-link {
  text-align: right; /* LTR */
}
.more-help-link {
  text-align: right; /* LTR */
}
.more-help-link a {
  background-image: inline-image("help.png");
  background-position: 0 50%; /* LTR */
  background-repeat: no-repeat;
  padding: 1px 0 1px 20px; /* LTR */
}


/**
 * Pager.
 */

/* A list of page numbers when more than 1 page of content is available. */
.pager {
  clear: both;
  padding: $u 0 0;
  text-align: center;
  list-style: none;
}
%pager__item {
  display: inline-block;
  padding-bottom: $u*0.25;
  a,
  a:link,
  a:visited {
    display: block;
    padding: $u*0.5 $u;
    background-color: $green;
    color: $white;
    border-radius: $u*0.25;
    border-bottom: solid $u*0.25 darken($green, 20%);
  }
  a:hover,
  a:focus {
    background-color: lighten($green, 10%);
  }
  a:active {
    background-color: darken($green, 10%);
  }
}

.pager-item,      /* A list item containing a page number in the list of pages. */
.pager-first,     /* The first page's list item. */
.pager-previous,  /* The previous page's list item. */
.pager-next,      /* The next page's list item. */
.pager-last,      /* The last page's list item. */
.pager-ellipsis { /* A concatenation of several list items using an ellipsis. */
  @extend %pager__item;
}

/* The current page's list item. */
.pager-current {
  @extend %pager__item;
  font-weight: bold;
  padding: $u/2 $u;
  background-color: $grey;
  border-radius: $u*0.25;
  border-bottom: solid $u*0.25 darken($grey, 20%);
}


/**
 * Ajax loader
 */

/* these apply to all ajax progresses */
.ajax-progress {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  display: block;
  z-index: 100000;
}
.ajax-progress .throbber {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  background: url(../images/ajax-loader.gif) no-repeat center center transparent;
  height: 32px;
  width: 32px;
}


/**
 * Blocks.
 */

/* Block wrapper. */
.block {
  margin-bottom: $u;
}

/* Navigation (sub) */
#block-system-navigation {
  .block-title {
    @include element-invisible;  
  }
  .menu {
    padding: 0 0 $u;
    margin: 0;
    margin-left: -($u);
    margin-right: -($u);
  }
  .menu__link {
    @extend .navlinks;
  }
}

/* Hero block */
.hero {
  background-color: $blue;
  color: $white;
  margin: 0 -($u);
  padding: $u;
}

/* Login/Create new user link */
.create-new-or-log-in {
  @extend .navlinks;
  padding: $u*1.2 $u;
}


/**
 * Menus.
 */

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu__link {
  display: block;
  padding: $u/2 $u;
}
.menu__item:first-child .menu__link {
  border-top: none;
}
.menu__item.is-leaf {
  
}
.menu__item.is-expanded {
  list-style-image: inline-image("menu-expanded.png");
  list-style-type: circle;
}
.menu__item.is-collapsed {
  list-style-image: inline-image("menu-collapsed.png"); /* LTR */
  list-style-type: disc;
}

/* The active item in a Drupal menu. */
.menu a.active {
  background-color: lighten($blue, 10%);
}



/**
 * Marker.
 */

/* The "new" or "updated" marker. */
.new,
.update {
  color: #c00;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
}



/**
 * Unpublished note.
 */

/* The word "Unpublished" displayed underneath the content. */
.unpublished {
  height: 0;
  overflow: visible;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  /* A very nice CSS3 property. */
  word-wrap: break-word;
}

/**
 * Comments.
 */

/* Wrapper for the list of comments and its title. */
.comments {
  margin: $u 0;
}

/* Preview of the comment before submitting new or updated comment. */
.comment-preview {
  /* Drupal core will use a #ffffea background. See #1110842. */
  background-color: #ffffea;
}

/* Wrapper for a single comment. */
.comment {

  /* Comment's permalink wrapper. */
  .permalink {
    text-transform: uppercase;
    font-size: 75%;
  }
}

/* Nested comments are indented. */
.indented {
  /* Drupal core uses a 25px left margin. */
  margin-left: $indent-amount; /* LTR */
}



/**
 * Forms.
 */

/* Wrapper for a form element (or group of form elements) and its label. */
.form-item {
  margin: $u 0;

  /* Pack groups of checkboxes and radio buttons closer together. */
  .form-checkboxes & ,
  .form-radios & {
    /* Drupal core uses "0.4em 0". */
    margin: 0;
  }

  /* Form items in a table. */
  tr.odd &,
  tr.even & {
    margin: 0;
  }

  /* Highlight the form elements that caused a form submission error. */
  input.error,
  textarea.error,
  select.error {
    border: 1px solid #c00;
  }

  /* The descriptive help text (separate from the label). */
  .description {
    font-size: 0.85em;
  }
}

.form-type-radio,
.form-type-checkbox {
  .description {
    margin-left: 2.4em;
  }
}

/* The part of the label that indicates a required field. */
.form-required {
  color: #c00;
}

/* Labels for radios and checkboxes. */
label.option {
  display: inline;
  font-weight: normal;
}

/* Buttons used by contrib modules like Media. */
a.button {
  @include appearance(button);
}

/* Password confirmation. */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* Drupal's default login form block. */
#user-login-form {
  text-align: left; /* LTR */
}

/* Form error message */
#edit-name-check, 
#edit-mail-check {
  height: auto;
  margin-bottom: $u/2;
  background: transparent;
  padding: $u/2;
}



/**
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

/* OpenID creates a new ul above the login form's links. */
.openid-links {
  /* Position OpenID's ul next to the rest of the links. */
  margin-bottom: 0;
}

/* The "Log in using OpenID" and "Cancel OpenID login" links. */
.openid-link,
.user-link {
  margin-top: $u;
}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: -20px; /* LTR */
}
#user-login ul {
  margin: $u 0;
}



/**
 * Drupal admin tables.
 */
form {
  th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
  }
  tbody {
    border-top: 1px solid #ccc;
  }
  table ul {
    margin: 0;
  }
}
tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}
tr.even {
  background-color: #fff;
}

/* Markup generated by theme_tablesort_indicator(). */
td.active {
  background-color: #ddd;
}

/* Center checkboxes inside table cell. */
td.checkbox,
th.checkbox {
  text-align: center;
}

/* Drupal core wrongly puts this in system.menus.css. Since we override that, add it back. */
td.menu-disabled {
  background: #ccc;
}



/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */

/* Suggestion list. */
#autocomplete .selected {
  background: #0072b9;
  color: #fff;
}



/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
.fieldset-legend {
  html.js .collapsible & {
    background-image: inline-image("menu-expanded.png");
    background-position: 5px 65%; /* LTR */
    background-repeat: no-repeat;
    padding-left: 15px; /* LTR */
  }
  html.js .collapsed & {
    background-image: inline-image("menu-collapsed.png"); /* LTR */
    background-position: 5px 50%; /* LTR */
  }
  .summary {
    color: #999;
    font-size: 0.9em;
    margin-left: 0.5em;
  }
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
.tabledrag-toggle-weight {
  font-size: 0.9em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
 */
tr.selected td {
  background: #ffc;
}


/**
 * Progress bar.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;

  .bar {
    background: #ccc;
    border-color: #666;
    margin: 0 0.2em;
    @include border-radius(3px);
  }
  .filled {
    background-color: #0072b9;
    background-image: image-url("progress.gif");
  }
}


/**
 * Avatar
 */

.field-name-field-avatar {
  background-color: #fff;
  text-align: center;
  margin-right: $u;
  label {
    text-align: left;
  }
}



/**
 * "Ask a question" button
 */

.add-question-block {
  .btn {
    display: block;
  }
}


/**
 * Search form
 */

.search-form input {
  margin: 0 0 $u*0.5;
}
.search-results {
  padding: 0;
  .search-result {
    border-top: dashed 1px $grey;
    .title {
      text-transform: none;
    }
    .search-snippet {
      margin-bottom: 0;
    }
    .search-info {
      color: $smoke;
    }
  }
}


/**
 * FAQ
 */

.node-readmore a {
  @extend .btn;
}
.view-faq {
  .views-row {
    border-top: solid 1px $grey;
  }
  .views-row:first-child {
    border: none;
  }
}
.field-type-taxonomy-term-reference a {
  @extend .label;
}


/**
 * Taxomony page
 */

.page-taxonomy #page-title {
  @extend .orange-funky-header;
}


/**
 * Hide RSS icon
 */

.feed-icon {
  @include element-invisible;
}


/**
 * Leaderboard block
 */

.block-achievements {
  .block-title {
    text-transform: uppercase;
  }
  .achievement-leaderboard {
    thead {
      display: none;
    }
    tbody {
      tr.even,
      tr.odd {
        background-color: transparent;
        border-bottom-color: #fff;
      }
      tr.even:last-child,
      tr.odd:last-child {
        border-bottom-color: transparent;
      }
      td.achievement-leaderboard-rank {
        color: #38535e;
        font-size: 2em;
      }
      td.achievement-leaderboard-userpicture {
        padding: 0.25em;
        img {
          border-radius: 1.5em;
          height: 3em;
          width: 3em;
        }
      }
      td.achievement-leaderboard-username {
        font-weight: bold;
        width: 6em;
      }
      td.achievement-leaderboard-points {
        color: #72858c;
        width: 5em;
        &:before {
          content: "| ";
        }
        a:after {
          content: " point";
        }
      }

    }
  }
}