#chatribbons {
  audio {
    display: none;
  }
  .ribbon {
    position: relative;
    margin-bottom: $u*0.5;
    @include clearfix;
  }
  .ribbon {
      display: none;
  }
  .ribbon.open {
    background-color: $orange;
    color: $white;
  }
  .ribbon.busy {
    background-color: $grey;
    color: $darkblue;
  }
  /* Hide elements so they can be controlled from javascript instead */
  .ribbon .chat-open,
  .ribbon .chat-busy {
    display: none;
  }
  .ribbon .information {
    text-align: center;
  }
  .ribbon .ribbon-header {
    display: block;
    text-align: left;
    padding: $u*0.5;
    background-color: transparentize($white, 0.75);
  }
  .ribbon .chatstatus-message {
    display: inline-block;
    font-weight: bold;
    padding: $u;
  }
  .click-control,
  .configure-notifications {
    @extend .btn;
    background-color: transparent;
    color: $white;
  }
  .configure-notifications {
    padding: $u*0.25;
    a {
      font-weight: normal;
      font-size: $u*0.8;
    }
    a:hover,
    a:focus,
    a:active {
      color: $white;
      background-color: rgba(0,0,0,0.15);
    }
  }
  .click-control:hover,
  .click-control:active,
  .click-control:focus {
    background-color: darken($orange, 10%);
  }
  .ribbon .startbutton {
    background-color: $green;
    color: $white;
  }
  .ribbon.busy .startbutton {
    display: none;
    /*
    cursor: default;
    background-color: $grey;
    color: $smoke;
    */
  }
  .ribbon .controls {
    position: absolute;
    right: 0;
    top: 0;
  }
}



@media screen and (min-width: $u*55) {
  
  #chatribbons {
    .ribbon .information {
      text-align: left;
    }
    .ribbon .ribbon-header {
      display: inline-block;
      padding: $u*1.5 $u;
    }
    .ribbon .chatstatus-message {
      padding: $u*0.5;
    }
    .click-control {
      margin: $u $u*0.5;
    }
  }
  
  
}
