.profile {
  margin: 0;
  .field-name-field-expertise,
  .achievements,
  .userinfo,
  .field-name-field-biography {
    padding: $u/2 0;
  }
  .field-name-field-avatar {
    margin: 0 auto;
    width: $u*8;
    img {
      border-radius: 50%;
    }
  }
  .field-name-field-expertise {
    clear: both;
    padding-bottom: 0;
    .field-label {
      font-weight: normal;
    }
    .field-item {
      display: inline-block;
      margin-right: $u*0.5;
      a {
        @extend .orangebtn;
        border-radius: none !important;
      }
    }
  }
  .field-name-field-quote {
    padding: $u 0;
  }
  .achievements {
    @include clearfix;
    padding: $u*0.5 0;
    margin-top: $u;
  }
  .achievement-image {
    width: $u*8;
    margin: 0;
    float: left;
    font-size: $u*0.6;
    text-align: center;
    a {
      background: $white;
      display: block;
      margin: 0 $u 0 0;
      padding: $u*0.5;
      img {
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }
    a:first-child {
      padding-bottom: 0;
    }
  }
  .username {
    @extend .white-funky-header;
  }
  .section.nodes > h3 {
    @extend .funky-header;
    border: none;
    margin-top: $u;
  }
}

#profile-voksenprofil + h3 {
  margin-bottom: $u;
}

.page-user #page-title,
#profile-ungeprofil + h3,
body.page-user-register #edit-profile-ungeprofil,
.profile .answers-submitted,
.profile .field-name-field-gender {
  display: none;
}

#user-profile-form {
    .field-name-field-mail-on-receive-assist,
    .field-name-field-mail-on-receive-comment,
    .field-name-field-mail-on-best-assist,
    .field-name-field-mail-on-voteup,
    .field-name-field-mail-on-new-question {
        padding: $u*0.5 $u;
        border: solid 1px $grey;
        border-width: 0 1px;
        display: block;
        .form-item {
            margin: 0;
        }
        label {
            text-transform: none;
        }
    }
    .field-name-field-mail-on-receive-assist {
        border-top: solid 1px $grey;
        margin-top: $u;
    }
    .field-name-field-mail-on-receive-assist::before {
        content: 'Send en notifikation n\00E5r';
        display: block;
        padding: $u*0.5 0 $u;
        text-transform: uppercase;
        font-weight: bold;
        color: $darkblue;
    }
    .field-name-field-mail-on-new-question {
        border-bottom-width: 1px;
        padding-bottom: $u;
        margin-bottom: $u;
    }
    #edit-notifications {
      display: none;
    }

    #edit-mimemail {
        display: none;
    }
    #edit-contact {
        display: none;
    }

    .password-strength {
      float: none;
      margin-bottom: 1.4em;
      margin-top: 0;
    }
}
