.profile {
  .field-name-field-expertise,
  .achievements,
  .userinfo,
  .field-name-field-biography {
    padding: $u/2 0;
  }
  .field-name-field-avatar {
    float: left;
    width: 33.33%;
    .field-items {
      padding: $u/2 $u/2 $u/2 0;
    }
  }
  .field-name-field-expertise {
    clear: both;
  }
  .achievements {
    margin-left: -($u/2);
    margin-right: -($u/2);
    @include clearfix;
  }
  .achievement-image {
    width: 70px;
    margin: 0;
    float: left;
    a {
      display: block;
      margin: 0 $u/2;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

#profile-ungeprofil + h3 {
  display: none;
}