/* line 1, ../sass/profile.scss */
.entity .content {
  float: left;
  margin-left: 20%;
  width: 80%;
}

/*
* Achievement badges
**/
/* line 11, ../sass/profile.scss */
.entity .achievements {
  width: 164px;
}

/* line 15, ../sass/profile.scss */
.achievement-image {
  display: inline-block;
  width: 70px;
  margin: 6px;
}

/* line 21, ../sass/profile.scss */
.achievement-image a {
  display: block;
  width: 100%;
  line-break: auto;
  font-size: 0.75em;
  line-height: 1em;
}

/*
* User info
*/
/* line 33, ../sass/profile.scss */
.entity-profile2 h2.username {
  margin: 0;
}

/* line 39, ../sass/profile.scss */
.entity-profile2 .field-name-field-gender,
.entity-profile2 .field-name-field-age {
  display: inline-block;
  margin-right: 10px;
}
