/* line 1, ../sass/profile.scss */
.entity .content {
  float: left;
  margin-left: 20%;
  width: 80%;
}

/*
* Achievement badges
**/
/* line 11, ../sass/profile.scss */
.achievement-image {
  display: inline-block;
  width: 70px;
  margin: 0.4em;
}

/* line 17, ../sass/profile.scss */
.achievement-image a {
  display: block;
  width: 100%;
  line-break: auto;
  font-size: 0.75em;
  line-height: 1em;
}
