/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 */


/* Container */
body {
  background: $white;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $u*3;
  z-index: 4;
  padding: 0;
}
.header__logo {
  width: auto;
  height: $u*3;
  display: block;
  img {
    margin: $u*0.75 $u;
    height: $u*1.5;
  }
}
.header__region {
  .block {
    float: right;
  }
}
#block-myassist-user-username {
  @include element-invisible;
}

/* Main */
#main {
  padding: $u*3 $u $u;
}

/* Main menu */
.region-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $u*3;
}
#block-system-main-menu .menu__item {
  width: 33.33%;
}

/* Footer/bottom */
.region-bottom {
  margin-bottom: $u*3;
  .block {
    padding: 0 $u $u;
  }
}

/* "Ask a question" button */
.btn.add-question-block {
  display: block;
}



/**
 * Layout for smaller screens.
 */

@media all and (max-width: 480px) {

}

@media all and (min-width: 480px) {
  
  /* Header */
  #block-myassist-user-username {
    @include element-invisible-off;
    padding: $u/2 $u $u/2 0;
  }
  
  /* Main */
  #main {
    position: relative;
  }
  
}

/**
 * Layout for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  
}


/**
 * Layout for larger screens
 */
@media all and (min-width: 960px) {
  
  /* General layout */
  #page,
  .header__container,
  .region-bottom {
    width: 960px;
    margin: 0 auto;
  }
  
  /* Page */
  #page {
    padding: $u*3 0 0;
  }
  
  /* Header */
  .header__region {
    position: absolute;
    right: 50%;
    margin-right: -480px;
  }
  
  /* Main menu */
  .region-navigation {
    position: fixed;
    bottom: auto;
    top: 0;
    left: 50%;
    right: auto;
    height: $u*2.5;
    margin-left: -16.5%;
    width: 33.33%;
    z-index: 4;
    text-align: center;
  }
  #block-system-main-menu .menu__item {
    width: $u*5;
    float: none;
    display: inline-block;
  }
  
  /* main */
  #main {
    padding: 0 $u $u;
  }
  
  /* Footer/bottom */
  .region-bottom {
    padding-bottom: 0;
    .block {
      padding-bottom: $u;
      margin-bottom: 0;
    }
  }
  
  /* "Ask a question" button */
  .btn.add-question-block {
    display: inline-block;
  }
  
  /* Questions and Answers */
  .node-answers-question {    
    position: relative;
    min-height: $u*10;
    .node-title {
      width: 50%;
    }
    .answers-body {
      margin-bottom: $u*2;
    }
    .submitted-time,
    .answer_count,
    .question_locked {
      float: left;
      display: block;
      margin-right: $u*0.5;
    }
    .submitted-time {
      padding-right: $u*0.5;
    }
    .field-name-body {
      width: 50%;
    }
    .answers-submitted {
      position: absolute;
      right: 0;
      top: -($u*2);
      width: 25%;
      padding: 0 0 $u;
      .user-picture {
        width: 33.33%;
        height: 33.33%;        
        float: none;
        display: block;
        img {
          border-radius: 50%;        
        }
      }
      .username {
        font-weight: bold;
      }
    }
    .field-name-field-category {
      position: absolute;
      top: -($u*2);
      right: 25%;
      width: 25%;
      .field-items {
        padding: 0 $u*2;
      }
    }
    .answers-body-toolbar {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .answers-submitted .author-name, 
  .answers-submitted .author-points {
    padding: 0;
  }
  .answers-body .field-name-field-category {
    margin: 0;
  }
  
  /* More columns, please! */
  
  .header__container,
  .region-bottom {
    @include clearfix;
  }
  
  .region-bottom .block,
  .answers-body .field-name-field-category,
  .field-name-field-avatar,
  .achievement-image {
    width: 25%;
  }
  
  .link-wrapper {
    width: 75%;
  }
  
  .profile2-ungeprofil .achievements,
  .profile2-ungeprofil .field-name-field-expertise {
    width: 50%;
  }
  
  .link-wrapper,
  .profile2-ungeprofil .achievements {
    float: right;
  }
  
  .region-bottom .block,
  .answers-btn-primary,
  .profile2-ungeprofil .field-name-field-expertise,
  .profile2-ungeprofil .field-name-field-avatar {
    float: left;
  }
  
  .entity-profile2 .section {
    clear: both;
  }
  
}
