/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 */

body {
  background: lighten($basegrey, 60%);
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $u*2.5;
  z-index: 4;
  padding: 0;
}
.header__site-name {
  margin: 0;
  padding: $u/2 $u/2 $u/2 0;
  font-size: $u*1.2;
}
.header__logo {
  margin: $u/2;
  width: $u*1.5;
  height: $u*1.5;
}
.header__region {
  position: absolute;
  right: 0;
  top: 0;
  .block {
    float: right;
  }
}
#block-myassist-user-username {
  @include element-invisible;
}

/* Main */
#main {
  padding: $u*2.5 $u $u;
}

/* Main menu */
.region-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $u*2.5;
  background: lighten($basegrey, 60%);
  box-shadow: $u/4 0 $u $u/4 rgba(0, 0, 0, 0.2);
}

/* Footer/bottom */
.region-bottom {
  margin-bottom: $u*2.5;
  .block {
    padding: 0 $u;
  }
}


/**
 * Layout for smaller screens.
 */

@media all and (max-width: 480px) {

}

@media all and (min-width: 480px) {
  
  /* Header */
  #block-myassist-user-username {
    @include element-invisible-off;
    padding: $u/2 $u $u/2 0;
  }
  
  /* Main */
  #main {
    position: relative;
  }
  
}

/**
 * Layout for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {

  .achievement-image {
    width: 25% !important;
  }
  
  .answers-submitted,
  .submitted-time,
  .field-name-field-avatar {
    width: 50% !important;
  }
  
  .answers-submitted {
    float: right !important;
  }
  
  .submitted-time {
    float: left;
  }
  
}


/**
 * Layout for larger screens
 */
@media all and (min-width: 960px) {
  
  /* General layout */
  #page,
  .header__container,
  .region-bottom {
    width: 960px;
    margin: 0 auto;
  }
  
  /* Page */
  #page {
    padding: $u*2.5 0 0;
  }
  
  /* Header */
  .header__container {
    @include clearfix;
  }
  .header__region {
    position: absolute;
    right: 50%;
    margin-right: -480px;
  }
  
  /* Main menu */
  .region-navigation {
    position: fixed;
    bottom: auto;
    top: 0;
    left: 50%;
    right: auto;
    height: $u*2.5;
    margin-left: -16.5%;
    background: lighten($basegrey, 60%);
    box-shadow: none;
    width: 20%;
    z-index: 4;
  }
  
  /* main */
  #main {
    padding: 0 $u;
  }
  
  /* Footer/bottom */
  .region-bottom {
    padding-bottom: 0;
    .block {
      background: lighten($basegrey, 45%);
      padding-bottom: $u;
      margin-bottom: 0;
    }
  }
  
  .answers-submitted,
  .submitted-time,
  .answers-body .field-name-field-category,
  .field-name-field-avatar,
  .achievement-image {
    width: 25% !important;
  }
  
  .answers-body .field-name-body,
  .link-wrapper,
  .node-answers_answer-form .field-name-body {
    width: 75% !important;
  }
  
  .profile2-ungeprofil .achievements,
  .profile2-ungeprofil .field-name-field-expertise {
    width: 50%;
  }
  
  .submitted-time,
  .answers-submitted,
  .link-wrapper,
  .answers-body .field-name-field-category,
  .profile2-ungeprofil .achievements {
    float: right !important;
    clear: right;
  }
  
  .answers-body .field-name-body,
  .answers-btn-primary,
  .profile2-ungeprofil .field-name-field-expertise,
  .profile2-ungeprofil .field-name-field-avatar {
    float: left;
  }
  
  .entity-profile2 .section {
    clear: both;
  }
  
}
