/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 */


/* Container */
body {
  background: $white;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $u*3;
  z-index: 4;
  padding: 0;
}
.header__logo {
  width: auto;
  height: $u*3;
  display: block;
  img {
    margin: $u*0.75 $u;
    height: $u*1.5;
  }
}
.header__region {
  .block {
    float: right;
  }
}
#block-myassist-user-username {
  @include element-invisible;
}

/* Main */
#main {
  padding: $u*3 $u $u;
}

/* Main menu */
.region-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $u*3;
}
#block-system-main-menu .menu__item {
  width: 33.33%;
}

/* Footer/bottom */
.region-bottom {
  margin-bottom: $u*3;
  .block {
    padding: 0 $u $u;
  }
}

/* "Ask a question" button */
.btn.add-question-block {
  display: block;
}



/**
 * Layout for smaller screens.
 */

@media all and (max-width: 480px) {

}

@media all and (min-width: 480px) {
  
  /* Header */
  #block-myassist-user-username {
    @include element-invisible-off;
    padding: $u/2 $u $u/2 0;
  }
  
  /* Main */
  #main {
    position: relative;
  }
  
}

/**
 * Layout for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {

  .achievement-image {
    width: 25% !important;
  }
  
  .answers-submitted,
  .submitted-time,
  .field-name-field-avatar {
    width: 50% !important;
  }
  
  .answers-submitted {
    float: right !important;
  }
  
  .submitted-time {
    float: left;
  }
  
}


/**
 * Layout for larger screens
 */
@media all and (min-width: 960px) {
  
  /* General layout */
  #page,
  .header__container,
  .region-bottom {
    width: 960px;
    margin: 0 auto;
  }
  
  /* Page */
  #page {
    padding: $u*3 0 0;
  }
  
  /* Header */
  .header__region {
    position: absolute;
    right: 50%;
    margin-right: -480px;
  }
  
  /* Main menu */
  .region-navigation {
    position: fixed;
    bottom: auto;
    top: 0;
    left: 50%;
    right: auto;
    height: $u*2.5;
    margin-left: -16.5%;
    width: 33.33%;
    z-index: 4;
  }
  #block-system-main-menu .menu__item {
    width: $u*5;
  }
  
  /* main */
  #main {
    padding: 0 $u;
  }
  
  /* Footer/bottom */
  .region-bottom {
    padding-bottom: 0;
    .block {
      padding-bottom: $u;
      margin-bottom: 0;
    }
  }
  
  /* "Ask a question" button */
  .btn.add-question-block {
    display: inline-block;
  }
  
  
  /* More columns, please! */
  
  .header__container,
  .region-bottom {
    @include clearfix;
  }
  
  .region-bottom .block,
  .answers-submitted,
  .submitted-time,
  .answers-body .field-name-field-category,
  .field-name-field-avatar,
  .achievement-image {
    width: 25% !important;
  }
  
  .answers-body .field-name-body,
  .link-wrapper,
  .node-answers_answer-form .field-name-body {
    width: 75% !important;
  }
  
  .profile2-ungeprofil .achievements,
  .profile2-ungeprofil .field-name-field-expertise {
    width: 50%;
  }
  
  .submitted-time,
  .answers-submitted,
  .link-wrapper,
  .answers-body .field-name-field-category,
  .profile2-ungeprofil .achievements {
    float: right !important;
    clear: right;
  }
  
  .region-bottom .block,
  .answers-body .field-name-body,
  .answers-btn-primary,
  .profile2-ungeprofil .field-name-field-expertise,
  .profile2-ungeprofil .field-name-field-avatar {
    float: left;
  }
  
  .entity-profile2 .section {
    clear: both;
  }
  
}
