/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 */


/* Container */
body {
  background-color: $blue;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $u*3;
  z-index: 4;
  padding: 0;
}
.header__logo {
  width: auto;
  height: $u*3;
  display: block;
}
.header__region {
  .block {
    float: right;
  }
}
#block-myassist-user-username {
  @include element-invisible;
}

/* Main */
#main {
  padding: $u*4 $u $u;
}

/* Main menu */
.region-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $u*4;
}
#block-system-main-menu .menu__item {
  width: 33.33%;
}

/* Sidebars */
.sidebars {
  padding: $u;
  background-color: $grey;
}

/* Footer/bottom */
.bottom__container {
  margin-top: $u;
  padding: 0 0 $u*3;
  .block {
    padding: 0 $u $u;
  }
}

/* "Ask a question" button */
.btn.add-question-block {
  display: block;
}

/* FAQ */
.view-faq {
  .view-header {
    background: $grey;
    padding: $u $u 0;
  }
}

/* Chat */
#block-myassist-opeka-chatribbons {
  margin-top: -($u*2);
  margin-left: -($u);
  margin-right: -($u);
}

/* Top block */
.region-highlighted {
  padding: $u*7.5 $u $u;
  box-sizing: border-box;

  .hero {
    .icon {
      width: 130px;
      display: inline-block;
      padding: 20px;
      vertical-align: top;
    }
  }
}



/**
 * Layout for smallest screens.
 */

@media all and (max-width: 480px) {

}

@media all and (min-width: 480px) {
   
}

@media all and (max-width: $u*35) {
  .header__logo-image {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .create-new-or-log-in {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .confirm-parent,
  .password-parent {
    width: 100%;
  }
  .image-widget {
    .file {
      a {
        width: $u*20;
        display: inline-block;
        word-wrap: break-word;
      }
    }
  }

  /* Top block */
  .region-highlighted {
    padding: $u*4 $u $u;
    .hero {
      .icon {
        display: block;
        padding: 0;
        vertical-align: top;
        margin: 0 auto;
      }
    }
  }

  /* Main */
  #main {
    padding: 0 $u;
  }

}


/**
 * Layout for smaller screens.
 */

@media all and (min-width: $u*35) {
  
  /* Header */
  #header {
    height: $u*4;
    padding-top: $u*0.5;
    box-sizing: border-box;

    .create-new-or-log-in {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }
  #block-search-form.open #search-block-form {
    top: $u*4;
  }
  
  /* Main menu */
  .region-navigation {
    position: fixed;
    bottom: auto;
    top: 0;
    left: $u*14;
    right: auto;
    width: auto;
    z-index: 4;
    text-align: center;
  }
  #block-system-main-menu .menu__item {
    width: $u*5.5;
    float: none;
    display: inline-block;
  }
  
  /* Footer */
  .bottom__container {
    padding: 0;
    .block {
      float: left;
      width: 50%;
      @include box-sizing(border-box);
    }
  }
  
  /* Profile pages */
  .profile {
    .profile2-ungeprofil {
      .section {
        float: left;
        width: 50%;
        @include box-sizing(border-box);
        padding: 0 0 0 $u;
      }
      .section:first-child {
        border: none;
        padding: 0 $u 0 0;
      }
    }
  }
  
  /* Achievements pages */
  .page-achievements {
    #content {
      @include clearfix;
    }
    .achievement {
      width: 33.33%;
      float: left;
    }
    table th,
    table td {
      text-align: left;
      padding: $u*0.25 $u;
    }
  }
  
  /* Questions and answers */
  .answers-body {
    .field-name-field-category {
      display: inline-block !important;
      margin-right: $u*0.25;
      .field-items,
      .field-item{
        display: inline-block;
      }
    }
  }
  .answers-submitted {
    float: right;
    width: $u*15;
    text-align: right;
    padding-top: 0;
    .user-picture {
      float: right;
    }
    .author-name,
    .author-details {
      padding: 0 $u*3 0 0;
    }
  }
  
  /* Chat */
  #block-myassist-opeka-chatribbons {
    margin-top: -($u*1);
  }

  /* Top block */
  .region-highlighted {
    padding: $u*5 $u $u;
  }

  /* Main */
  #main {
    padding: 0 $u;
  }
  
}


/**
 * Layout for larger screens
 */
@media all and (min-width: $u*55) {
  
  /* General layout */
  #page {
    background-color: $white;
  }
  #main {
    @include clearfix;
  }
  #main,
  .header__container,
  .region-bottom,
  .region-highlighted {
    width: $u*55;
    margin: 0 auto;
  }
  #page,
  #main {
    padding: 0;
  }
  #main {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  #content,
  .sidebars {
    box-sizing: border-box;
  }
  #content {
    padding: 0 $u $u;
    box-sizing: border-box;
    width: 66%;
  }
  .no-sidebars #content {
    width: 100%;
  }
  .sidebars {
    width: 33%;
    padding: $u;
    background-color: $grey;
  }
  
  /* Header */
  #header {
    height: auto;
    padding-bottom: $u;
  }
  .header__container {
    padding: $u*2 0;
  }
  .header__region {
    position: absolute;
    right: 50%;
    margin-right: -($u*27.5);
    top: $u*2.5;
  }
  .region-navigation {
    left: 50%;
    width: $u*25;
    margin-left: -($u*15);
    margin-top: $u*1.5;
    #block-system-main-menu {
      .active.menu__link {
        background-color: transparent;
      }
    }
  }
  #block-search-form.open #search-block-form {
    top: $u*6;
  }
  
  /* Content */
  .hero,
  .funky-label,
  .orange-funky-label,
  .white-funky-label,
  .blue-funky-label,
  .page-taxonomy #page-title,
  .answers-list {
    margin-left: 0;
    margin-right: 0;
  }
  
  /* Add a question block */
  #block-block-1 {
    text-align: center;
    padding: $u*2 0 0;
    margin-top: -($u*2);
  }
  
  /* Questions and answers */
  .btn.add-question-block {
    display: inline-block;
  }
  .answers-body-wrapper {
    position: relative;
    .field-name-body {
      width: 60%;
    }
    .field-name-field-category {
      position: absolute;
      top: 0;
      left: 58%;
      width: 20%;
      .field-items {
        margin: 0 $u;
      }
    }
    .answers-submitted {
      position: absolute;
      right: 0;
      top: 0;
      width: 25%;
    }
  }

  .view-user-nodes {
    .answers-body-wrapper {
      .field-name-body {
        width: 100%;
      }
    }
  }
  
  /* FAQ */
  .view-faq {
    @include clearfix;
    article {
      float: left;
      width: 50%;
      box-sizing: border-box;
      padding: $u;
      .field-name-field-beskrivelse {
        height: $u*5;
        overflow: hidden;
      }
      .node-readmore a {
        margin-top: $u;
      }
    }
    .view-content {
      
    }
    .more-link {
      clear: both;
    }
  }
  
  /* Footer */
  .bottom__container {
    .block {
      width: 20%;
    }
    #block-block-4 {
      float: right;
      width: 40%;
    }
  }
  
  /* Chat */
  #block-myassist-opeka-chatribbons {
    margin-top: -($u*1.5);
  }

}
