/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 */


/* Container */
body {
  background-color: $blue;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $u*3;
  z-index: 4;
  padding: 0;
}
.header__logo {
  width: auto;
  height: $u*3;
  display: block;
  img {
    margin: $u*0.75 $u;
    height: $u*1.5;
  }
}
.header__region {
  .block {
    float: right;
  }
}
#block-myassist-user-username {
  @include element-invisible;
}

/* Main */
#main {
  padding: $u*3 $u $u;
}

/* Main menu */
.region-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $u*3;
}
#block-system-main-menu .menu__item {
  width: 33.33%;
}

/* Footer/bottom */
.bottom__container {
  margin-top: $u;
  padding: 0 0 $u*3;
  .block {
    padding: 0 $u $u;
  }
}

/* "Ask a question" button */
.btn.add-question-block {
  display: block;
}



/**
 * Layout for smallest screens.
 */

@media all and (max-width: 480px) {

}

@media all and (min-width: 480px) {
   
}


/**
 * Layout for smaller screens.
 */

@media all and (min-width: $u*35) {
  
  /* Header */
  #header {
    
  }
  
  /* Main menu */
  .region-navigation {
    position: fixed;
    bottom: auto;
    top: 0;
    left: $u*11;
    right: auto;
    width: auto;
    z-index: 4;
    text-align: center;
  }
  #block-system-main-menu .menu__item {
    width: $u*6;
    float: none;
    display: inline-block;
  }
  
  /* Footer */
  .bottom__container {
    padding: 0;
    .block {
      float: left;
      width: 50%;
      @include box-sizing(border-box);
    }
  }
  
  /* Profile pages */
  .profile {
    .profile2-ungeprofil {
      .section {
        float: left;
        width: 50%;
        @include box-sizing(border-box);
        border-left: solid 1px $grey;
        padding: 0 0 0 $u;
      }
      .section:first-child {
        border: none;
        padding: 0 $u 0 0;
      }
    }
  }
  
  /* Questions and answers */
  .answers-body {
    .field-name-field-category {
      display: inline-block !important;
      margin-right: $u*0.25;
      .field-items,
      .field-item{
        display: inline-block;
      }
    }
  }
  .answers-submitted {
    float: right;
    width: $u*15;
    text-align: right;
    padding-top: 0;
    .user-picture {
      float: right;
    }
    .author-name,
    .author-details {
      padding: 0 $u*3 0 0;
    }
  }
  
}


/**
 * Layout for larger screens
 */
@media all and (min-width: $u*55) {
  
  /* General layout */
  #page {
    background-color: $white;
  }
  #main,
  .header__container,
  .region-bottom {
    width: $u*55;
    margin: 0 auto;
  }
  #page,
  #main {
    padding: 0;
  }
  #content {
    padding: $u*4 $u $u; 
  }
  
  /* Header */
  .header__region {
    position: absolute;
    right: 50%;
    margin-right: -($u*27.5);
  }
  .region-navigation {
    left: 50%;
    width: $u*30;
    margin-left: -($u*15);
  }
  
  /* Content */
  .hero,
  .funky-label,
  .orange-funky-label,
  .white-funky-label,
  .blue-funky-label,
  .page-taxonomy #page-title {
    margin-left: 0;
    margin-right: 0;
  }
  
  /* Questions and answers */
  .btn.add-question-block {
    display: inline-block;
  }
  .answers-body-wrapper {
    position: relative;
    .field-name-body {
      width: 60%;
    }
    .field-name-field-category {
      position: absolute;
      top: 0;
      left: 60%;
      width: 20%;
      .field-items {
        margin: 0 $u;
      }
    }
    .answers-submitted {
      position: absolute;
      right: 0;
      top: 0;
      width: 20%;
    }
  }
  
  /* FAQ */
  .view-faq {
    .view-header {
      float: right;
      width: 40%;
      background: $grey;
      padding: $u;
      @include box-sizing(border-box);
    }
    .view-content {
      float: left;
      width: 60%;
    }
    .more-link {
      clear: both;
    }
  }
  
  /* Footer */
  .bottom__container {
    .block {
      width: 20%;
    }
    #block-block-4 {
      float: right;
      width: 40%;
    }
  }
  
}
