/* Styles for this module that relate to the Myassist_theme are located at /themes/myassist_theme/sass/components/_opeka.scss */


/*
* The following styles are theme independent styles for
*/

/* We want the chat window in all room-sizes to expand to a bigger width */
body[class^="room-size-"] #main,
body[class*=" room-size-"] #main {
  width: 100%;
}

body[class^="room-size-"] #page #main #content,
body[class^=" room-size-"] #page #main #content {
    width: 100%;
}

/*
* The following styles are theme independent styles for admin
*/

#opeka-app {
  margin: 1em auto;
  max-width: 55em;
  padding: 1em;
  background-color: #eee;
}
#opeka-app .btn {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #eee;
  border-radius: 0.25em;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
  border: none;
  font-size: 1em;
  color: #000;
  text-decoration: none;
  margin: 0 0.5em 1em 0;
  background-image: none;
}
#opeka-app .btn:hover,
#opeka-app .btn:active {
  background-color: #ccc;
  color: #000;
}
#opeka-app .btn:focus {
  background-color: #ddd;
}
#opeka-app .btn-success {
  background-color: #88cb62;
  color: #fff;
}
#opeka-app .form-text {
  margin-bottom: 1em;
}
#opeka-app select,
#opeka-app textarea {
  border: solid 1px #eee;
}
#opeka-app .chat-view-form {
  margin-top: 0.5em;
}
#opeka-app .message-form .form-text-container {
  float: left;
  max-width: 80%;
  width: 30em;
  display: block;
  margin-right: 0.5em;
}
#opeka-app .message-form .message {
  height: 2em;
  width: 100%;
}
#opeka-app .message-form .send {
  float: left;
  width: 10em;
  display: block;
  max-width: 15%;
}
#opeka-app .chat-message-list-wrapper {
  height: 30em;
  height: 50vh;
  position: relative;
  border: solid 1px #eee;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
}
#opeka-app .chat-message-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
}
#opeka-app .chat-message-list .system-message {
  color: #d00;
}
#opeka-app .chat-message-list .whisper-message {
  color: #999;
}
#opeka-app .chat-message-list .chat-message {
  color: #000;
}

#opeka-app .chat-message-list .sender-name {
  width: 33%;
  float: left;
  font-weight: bold;
}
#opeka-app .chat-message-list .time,
#opeka-app .chat-message-list .actions {
  width: auto;
  float: right;
  text-align: right;
}
#opeka-app .chat-message-list .time {
  color: #999;
}
#opeka-app .delete-message {
  background: none;
  color: blue;
  text-decoration: underline;
  border: none;
  cursor: pointer;
}
#opeka-app .chat-message-list .message,
#opeka-app .chat-message-list .system-message{
  clear: both;
  width: 100%;
  padding-bottom: 0.5em;
}
#opeka-app .leave-room-form {
  display: block;
  clear: both;
  width: 100%;
}
#opeka-app .controls {
  margin-bottom: 1em;
}
#opeka-app .signin-form-tooltip {
  padding: 0.5em 0;  
}
#opeka-app .chat-view-window {
  position: relative;
  height: 50vh;
}
#opeka-app .chat-message-list {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
  right: 1em;
  height: auto;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}
#opeka-app .top-info {
  display: block;
}
#opeka-app .chat-message,
#opeka-app .whisper-message,
#opeka-app .system-message {
  padding-top: 0.5em;
}
#opeka-app .sender-name,
#opeka-app .time {
  display: inline-block;
}
#opeka-app .top-info:after {
  display: none;
}
#opeka-app .time {
  color: #777;
  font-size: 0.8em;
  text-transform: lowercase;
}
#opeka-app .system-message {
  color: #777;
}
#opeka-app .bs-callout-client .sender-name {
  color: #ff866a;
}
#opeka-app .bs-callout-counselor .sender-name {
  color: #a5d888;
}
#opeka-app .whisper-message {
  border: dashed 1px #eee;
  padding: 0.5em;
}
#opeka-app .whisper-message .sender-name {
  color: #a5d888;
}
#opeka-app .system-message span {
  display: block; 
}
#opeka-app .room-list,
#opeka-app .chat-message-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#opeka-app .footer {
  border-top: dashed 1px #fff;
  padding: 1em 1em 0;
}
#opeka-app .btn {
  margin-bottom: 1em;
}
#opeka-app .room-details {
  font-size: 0.8em;
  color: #777;
}
#opeka-app .content {
  float: none;
  width: auto;
}
#opeka-app .chat-view-form {
  border-top: solid 1px #eee;
  margin-bottom: 1em;
}
#opeka-app .chat-view-form .form-submit,
#opeka-app .chat-view-form .form-text-container {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  box-sizing: border-box;
}
#opeka-app .chat-view-form .form-submit {
  width: 20%;
  padding: 0.5em 0;
}
#opeka-app .chat-view-form .form-text-container {
  width: 80%;
  margin-right: 0.5em;
}
#opeka-app .chat-view-form .form-text-container textarea {
  height: 5.5em;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
}
#opeka-app .leave-room-form {
  padding: 1em 0;
  clear: both;
}
#opeka-app .leave-room-form .form-submit {
  width: auto;
  max-width: 100%;
  float: none;
  padding: 0.5em 1em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
#opeka-app .myassist-message-anonymous {
  display: none;
}
#opeka-app .user-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1em;
}
#opeka-app .user-list-item {
  position: relative;
}

#opeka-app .dropdown-toggle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
}
#opeka-app .dropdown-toggle .icon-user {
  width: 1.5em;
  height: 1.5em;
  display: block;
  background: url(/sites/all/themes/myassist_theme/images/icons/plus.svg) no-repeat center center transparent;
  background-size: 0.8em auto;
}
#opeka-app .dropdown-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1.5em;
  left: 0;
  right: 0;
  box-shadow: 0 2px 1px 1px rgba(0,0,0,0.1);
}
#opeka-app .dropdown-menu li {
  padding: 0.5em;
  cursor: pointer;
  background-color: #fff;
}
#opeka-app .dropdown-menu li:hover {
  background-color: #eee;
}
.chat-status-box {
  position: relative;
  background-color: #eee;
  max-width: 45em;
  margin-bottom: 1em;
}
.chat-status-box.placeholder {
  min-height: 8em;
}

.chat-status-box.placeholder .data {
  display: none;
}
.chat-status-box.chat-closed {
  background-color: #eee;
}
.chat-status-box.chat-open {
  background-color: #a5d888;
}
.chat-status-box.chat-busy {
  background-color: lightyellow;
}
.chat-status-box .chat-open,
.chat-status-box .chat-closed,
.chat-status-box .chat-busy {
  display: none;
}
.chat-status-box div.iconarea {
  padding: 1em;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  border-bottom: dashed 1px #fff;
}
.chat-status-box .description {
  padding: 2em 1em 1em;
}
.chat-status-box .hours {
  padding: 1em;
}
.chat-status-box .startbutton,
.chat-status-box.chat-open .startbutton.disabled {
  border: 1px solid #bbb;
  padding: 0.25em 0.5em;
  display: inline-block;
  background-color: #ddd;
  color: gray;
  cursor: not-allowed;
}
.chat-status-box.chat-open .startbutton {
  cursor: pointer;
  background-color: #3b535f;
  color: #fff;
}
.chat-status-box h1 {
  background-color: inherit;
  color: black;
  margin-top: 0;
  padding-top: 0;
  font-size: 1.2em;
}

@media screen and (min-width: 35em) {
    
  .chat-status-box {
    overflow: hidden;
  }
  .chat-status-box .description {
    box-sizing: border-box;
    float: left;
    width: 66%;
    padding: 1em;
  }
  .chat-status-box .hours {
    box-sizing: border-box;
    float: right;
    width: 33%;
  }
  #opeka-app .content {
    float: left;
    width: 66%;
  }
  #opeka-app .sidebar {
    float: right;
    width: 33%;
    padding-left: 1em;
    box-sizing: border-box;
  }
  #opeka-app .footer {
    padding: 1em 0 0;
  }
    
}
