#header {

  .header__region {
    clear: none;
  }

  #block-search-form {
    float: right;
    .search-full {
      display: block;
    }
  }

  @media all and (max-width: 480px) {
    #block-search-form {
      &:not(.forceShow) {
        .search-full {
          display: none;
        }
        .search-toggle {
          display: block;
        }
      }
    }
  }

  #block-myassist-questions-answers-newquestion {
    float: right;
  }
}

.myassist-button {
  padding: 0.25em 0.5em 0.5em;
  width: 3em;
  height: 2.25em;
  background-color: #c00;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.search-toggle {
  display: none;
  background-image: url('../images/search.png');
}

.add-question {
  background-image: url('../images/plus.png');
}
