#header {

  .header__region {
    clear: none;
  }

  #block-search-form {
    float: right;
    .search-full {
      display: block;
    }
  }

  @media all and (max-width: 480px) {
    #block-search-form {
      &:not(.forceShow) {
        .search-full {
          display: none;
        }
        .search-toggle {
          display: block;
        }
      }
    }
  }
}

.search-toggle {
  padding: 0.25em 0.5em 0.5em;
  display: none;
  width: 3em;
  height: 2.25em;
  background: #c00 url('../images/search.png') no-repeat center;
  cursor: pointer;
}