.entity-profile2 > .content {
  margin-left: 20%;
}

/*
* Achievement badges
**/



/*
* User info
*/

h2.username {
  margin: 0;
}

.entity-profile2 {

  .section {
    display: block;
    width: 100%;


    .left,
    .right {
      display: inline-block;
      vertical-align: top;
    }

    .left {
      width: 20%;
    }
    .right {
      width: 79%;
    }



    .userinfo {
      display: block;
      width: 100%;

      .field {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .achievements {
      display: block;
      width: 100%;

      .achievement-image {
        display: inline-block;
        width: 70px;
        margin: 6px;
        float: none;
      }

      .achievement-image a {
        display: block;
        width: 100%;
        line-break: auto;
        font-size: 0.75em;
        line-height: 1em;
      }
    }
  }

}

/*
* User nodes
**/

.entity .view-content .views-row {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
}