.entity-profile2 > .content {
  margin-left: 20%;
}

/*
* Achievement badges
**/

.entity .achievements {
  width: 164px;
}

.achievement-image {
  display: inline-block;
  width: 70px;
  margin: 6px;
}

.achievement-image a {
  display: block;
  width: 100%;
  line-break: auto;
  font-size: 0.75em;
  line-height: 1em;
}

/*
* User info
*/

.entity-profile2 h2.username {
  margin: 0;
}

.entity-profile2 .field-name-field-gender,
.entity-profile2 .field-name-field-age
{
  display: inline-block;
  margin-right: 10px;
}

/*
* User nodes
**/

.entity .view-content .views-row {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
}