/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import typography from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "components/header";
@import "components/answers-theme";
@import "components/profile";
@import "components/opeka";
@import "components/blog";

/* Responsive layout rules */
@import "layouts/responsive";

@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
